html{
  font-family: 'Comic Neue', cursive;
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  color: rgb(119, 119, 119);
}

.containers{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}



.component{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  height: 30px;
  width: 288px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: rgb(248, 248, 248);
}

.backlog{
  width: 300px;
  height: 500px;
  border: 2px solid gray;
}